@tailwind base;
@tailwind components;
@tailwind utilities;

/* Κάποιοι browsers μπορεί να έχουν θέμα με το drag/resize cursor,
   οπότε βεβαιωθείτε ότι το body δεν επιλέγεται κατά το drag */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}